.home {
}
.app {
  background-color: rgb(241, 201, 142);
}
.header {
  margin: 0;
}
.patients-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // flex-wrap: wrap;
  border: 1px solid black;
}

.card-patient {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 5px;
  border: 1px solid black;
}

.card-med {
  display: flex;
  flex-direction: column;
  margin: 5px;
  border: 1px solid black;
}
.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // width: 100%;
  // margin: 5px;
  // border: 1px solid black;
}
